@charset "utf-8";
/* siteNav */
.quickLink .hd a s,.beforeLogin a s,.area .fr .phone s,.logoBlock .select_city em s,.bannerTop .boxb .txt,.bannerTop .boxb .btn,.bannerTop .options span{background:url("../images/houses.png") no-repeat;}
body{font:12px Tahoma,Microsoft YaHei;}
.mapSearch a:hover,.bannerBot .pt p a:hover,.blockALB h5 a:hover,.blockB .links p a:hover,#fouse_foot a:hover,.bannerTop .boxd a:hover,.blockALA .img li a:hover p{text-decoration:underline;}

.area{width:1000px;margin:auto;}
.siteNav{position:relative;height:40px;background:#2a2f30;z-index:9999;min-width: 1000px}
.focusIndex,.quickLink{float:left;display:inline;}
.focusIndex{margin-right:24px;}
.siteNav a,.siteNav a:hover{color:#c1c1c1;line-height:40px;}
.quickLink{position:relative;width:76px;}
.quickLink .hd a{display:block;height:40px;padding-left:20px;vertical-align:middle;text-align:left;}
.quickLink .hd a s{display:inline-block;*display:inline;width:8px;height:4px;margin-left:8px;vertical-align:middle;overflow:hidden;*zoom:1;background:url(../images/houses.png) -13px -150px;}
.quickLink .hd .hover{background:#141212;color:#c1c1c1;text-decoration:none;}
.quickLink .hd .hover s{background-position:-13px -160px ;}
.quickLink .hd a span,.area .fr .phone span{display:inline-block;*display:inline;width:0px;height:40px;vertical-align:middle;*zoom:1;}
.quickLink .bd{display:none;position:absolute;left:0px;top:40px;background:#fff;border:1px solid #e2e5e7;}
.quickLink .bd a{display:block;width:75px;height:28px;padding-left:20px;color:#666;line-height:28px;text-align:left;*zoom:1;}
.quickLink .bd a:hover{height:28px;background:#f0f0f0;text-decoration:none;line-height:28px;}
.beforeLogin,.afterLogin,.area .fr .phone{float:left;display:inline;height:40px;margin-right:20px;color:#c1c1c1;line-height:40px;}
.beforeLogin{margin-right:0px;}
.beforeLogin a,.area .fr .phone{margin-left:12px;line-height:40px;}
.beforeLogin a{display:block;float:left;}
.area .fr .phone{margin-right:23px;}
.beforeLogin .login{margin-left:34px;}
.beforeLogin a s,.area .fr .phone s{display:inline-block;*display:inline;width:9px;height:13px;margin:-3px 6px 0 0;*margin:0 6px 0 0;background-position:0px -150px;vertical-align:middle;*zoom:1;}
.quickLinkOne,.focusTong{width:90px;}
.quickLinkOne .bd a,.focusTong .bd a{width:68px;}
.quickLinkTwo{width:114px}
.quickLinkTwo .bd a{width:92px}
.userCenter{width:102px}
.userCenter .bd a{width:90px;}
/* fouse_foot */
#fouse_foot{min-width:1000px;margin:50px auto 0;padding:25px 0;background:#fafafa;border-top:1px solid #efefef;text-align:center;color:#666;font-size:12px;}
#fouse_foot p{line-height:22px;padding:0;margin:0}
#fouse_foot a{color:#666;text-decoration:none}
/* toTop */
#toTop{right:50%;margin-right:-575px;width:71px;height:71px;background:url(../images/houses.png) 0 0px no-repeat;}
#toTop:hover{background-position:0 -77px;}
.ppselecter{padding:0 10px !important;line-height: 18px;width:250px;*margin-top:-363px !important;}


.redBack{
font-size: 104px;
color: /*#E3E3E3*/black;
margin-left: -6px;
margin-top: 3px;
line-height:20px;
}
.redInfo{position: absolute;
color: black;
font-size: 20px;
/* top: 7px; */
margin-top: 9px;
/*margin-left: -33px;*/
}
.cur .redBack{color: red}
