HTML {
	_text-overflow: ellipsis
}
A:active {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; -moz-outline: none
}
A:focus {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; -moz-outline: none
}
BODY {
	FONT: 12px tahoma, "Hiragino Sans GB", STHeiti, Arial, "ו", sans-serif
}
.area {
	WIDTH: 1000px
}
.quinckIcon {
	Z-INDEX: 1001; RIGHT: 10px
}
.quinckIcon A {
	WIDTH: 60px; DISPLAY: block; MARGIN-BOTTOM: 3px; BACKGROUND: #bacdeb; HEIGHT: 50px; COLOR: #f9f9f9; PADDING-TOP: 10px
}
.quinckIcon A:hover {
	BACKGROUND: #6391dc; COLOR: #fff; TEXT-DECORATION: none
}
.quinckIcon A S {
	MARGIN: 0px auto 2px; DISPLAY: block; BACKGROUND: url(http://src.focus.cn/common/newhouse/images/pngBg01.png) no-repeat
}
.quinckIcon .qa S {
	WIDTH: 34px; HEIGHT: 26px
}
.quinckIcon .qb S {
	WIDTH: 22px; BACKGROUND-POSITION: -50px 0px; HEIGHT: 27px
}
.quinckIcon .qc S {
	WIDTH: 25px; BACKGROUND-POSITION: -84px 0px; HEIGHT: 26px
}
.quinckIcon .qd S {
	WIDTH: 25px; BACKGROUND-POSITION: -130px 0px; HEIGHT: 26px
}
.quinckIcon .qe {
	HEIGHT: 40px
}
.quinckIcon .qe S {
	WIDTH: 31px; BACKGROUND-POSITION: -169px 0px; HEIGHT: 12px
}
.riskHint {
	BORDER-BOTTOM: #efefef 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #efefef 1px solid; LINE-HEIGHT: 26px; MARGIN: 10px auto; WIDTH: 998px; BACKGROUND: #fff; COLOR: #ccc; BORDER-TOP: #efefef 1px solid; BORDER-RIGHT: #efefef 1px solid
}
.riskHint .bd {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 30px; PADDING-RIGHT: 30px; PADDING-TOP: 12px
}
#fouse_foot .bd {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 22px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 1000px; PADDING-RIGHT: 0px; BACKGROUND: #fafafa; PADDING-TOP: 10px
}
#fouse_foot .bd A {
	COLOR: #666
}
