.siteNav{position: relative;z-index: 2;}
.wrapper{position: relative; z-index: 1;}
.item_cityArea i,.cityArea_k .tt .close{background:url("../images/bg01.gif") no-repeat;}
.change_city {color: #6391dc; font-size: 14px;display: block; height: 22px;line-height: 22px;}
.item_cityArea{position:relative;float:left;display:inline;height:48px;margin:12px 0 0 11px;text-align:left;*zoom:1;}
.item_cityArea em{font-style:normal;cursor:pointer;}
.item_cityArea em s{display:inline-block;*display:inline;width:7px;height:4px;margin-left:4px;background-position:0 0;font-size:0px;*zoom:1;}
.item_cityArea .selectCity{display:block;width:150px;height:24px;font-weight:100;font-size:20px;line-height:24px; font-family:"Microsoft YaHei", 'Open Sans', 'Helvetica Neue', 'Arial', 'Tohama', 'Verdana', 'Hiragino Sans GB', 'STHeiti', 'SimSun', 'sans-serif';color:#333;overflow:hidden;}
.item_cityArea i{position:absolute;display:none;width:11px;height:8px;left:18px;top:40px;background-position:-173px -22px;font-size:0px;z-index:1002;}
/* cityArea_k */
.cityArea_k{display:none;position:absolute;left:-5px;top:46px;padding:15px 14px 17px;width:530px;border:2px solid #DBE3EE;background:#fff;z-index: 1000;}
.cityArea_k a{color:#2255AA; font-size: 12px;}
.cityArea_k a:hover{color:#d80100;}
.cityArea_k .tt{position:relative;width:530px;margin-bottom:10px;}
.cityArea_k .tt a{margin-right:13px;}
.cityArea_k .tt span{display:block;position:absolute;right:0px;top:0px;width:15px;height:15px;background-position:-88px -206px;cursor:pointer;}
.cityArea_k .tt .close{display:block;position:absolute;right:0px;top:0px;width:15px;height:14px;background-position: -171px 0;}
.cityArea_k .top{margin-bottom:18px;text-align:center;line-height:30px;color:#fff;font-size:14px;word-spacing:-1px;font-weight:bold;background:#85ABE5;}
.cityArea_k .top a{display:inline-block;*display:inline;width:23px;color:#fff;font-size:14px;*zoom:1;}
.cityArea_k .top a:hover{background:#6891D0;text-decoration:none;}
.cityArea_k .bot{height:228px;overflow-x:hidden;overflow-y:auto;}
.cityAreaBox{margin-bottom:13px;border-bottom:1px dotted #E4E4E4;}
.cityAreaBoxHd{margin:0 0 3px 8px;color:#999;font-size:12px;font-weight:bold;word-spacing:-1px;}
.cityAreaBoxCen{padding-bottom:10px;overflow:hidden;*zoom:1;}
.cityAreaBoxCen li{display:inline-block;*display:inline;*margin-bottom:5px;*zoom:1;}
.cityAreaBoxCen li a{display:inline-block;*display:inline;padding:2px 7px;line-height:16px;border:1px solid #fff;}